*{
    margin: 0px;
    padding: 0px;
}

:root {
    --main-color: #9356DC;
    --seconde-color: #FF79DA ;
    --tertiaire-color: #99E2D0;
    --main-opacity-color: (117, 150, 218, 0.5%);
}

.loading {
    position: fixed;
    z-index: 1;
    opacity: 50%;
    width: 10%;
    height: 10%;
    top: calc(30vh - 40px);
    left: calc(50vw - 75px);
}
/* 
.loading::before, .loading::after {
    content: '';
    position: absolute;

} */

/* .loading::before {
    animation-delay: 1s;
} */

/* .loading::after {
    opacity: 100%;
} */



.loader5 {
    display: block;
    zoom: 1;
    background-repeat: no-repeat;
    
    background-position: center center;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 20px solid #b666d2;
    border-right: 5px solid #FF79DA;
    border-bottom: 20px solid #b666d2;
    border-left: 5px solid #FF79DA;
    width: 80px;
    height: 80px;
    opacity:50%;
    margin-left:42%;
    -webkit-animation: spin 2s linear infinite;
    animation: spin5 1s linear infinite;
  }
  
  @-webkit-keyframes spin5 {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin5 {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


  
  .loader55 {
    display: block;
    zoom: 1;
    background-repeat: no-repeat;
    /* background-image: ; */
    background-position: center center;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 20px solid #FF79DA;
    border-right: 5px solid #b666d2;
    border-bottom: 20px solid #FF79DA;
    border-left: 5px solid #b666d2;
    width: 80px;
    height: 80px;
    opacity:50%;
    margin-top:-120px;
    margin-left:42%;
    -webkit-animation: spin 2s linear infinite;
    animation: spin55 1.5s linear infinite;
  }
  
  @-webkit-keyframes spin55 {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin55 {
    0% { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
  }


body {
    width: 100%;
    /* padding: 30; */
}

main {
    width: 100%;
    justify-content: center;
    
}

h1, h2, h3, h4, h5, p, a, ul, li, div {
    font-family: roboto;
}

.shirankhad {
    font-family: Shrikhand;
}

h1 {
    font-size: 24px;
    font-weight: 700px;
    
    text-align: center;
    
}

h5 {
    font-size: 18px;
    font-weight: 400;
}

.header {
    width: 100%;
    height: 113px;
}

.logo {
    width: 100%;
    height: 63px;
    background-color: #fff;
}

.logo img {
    width: 12rem;
}



.loco {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 50px;
    background-color: #EAEAEA;
    box-shadow: inset 0px 5px 5px rgb(211, 210, 210);
}

.font-300 {
    font-size: 14px;
    font-weight: 300px;
}

.font-700 {
    font-size: 28px;
    font-weight: 700px; 
}

.page-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    align-items: center;
    padding: 0 30px;
    
}

.page-title i {
    padding-right: 30px;
    
    font-size: 27px;
    margin-bottom: -25px;
    margin-right: -32px;
    font-size: 26px;
    background-color: #F7F7F7;
    z-index: 1;
}

.page-title i:hover {
    visibility: collapse;
 }

.page-title svg {
    animation: coeur 1s ease infinite;
     
 }

@keyframes coeur {
    from {
        transform: scale(1);
        opacity: 40%;
    }
    to {
        transform: scale(1.05);
        opacity: 100%;
    }
}







.top {
    width: 100%;
    height: 280px;
    background-color: #F7F7F7;
}

.top-txt {
    width: 60%;
    align-content: center;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.page-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 63px;   
}



.page-header img {
    width: 15rem;
   
    
    
}



.icon {
    margin-top: -40px;
    margin-bottom: 20px;
    padding-left: 30px;
}

.top-txt p {
    width: 80%;
    text-align: center;
    padding-top: 20px;
}

.btn-choix {
    width: 90%;
    height: 72px;
    background-color: rgb(241, 240, 240);
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgb(0 0 0 / 20%);
   
    transform: scale(1);
    transition: transform 800ms;
}

.btn-choix h5 {
    font-weight: 500;
    font-size: 16px;
    padding-left: 20px;
}



.fonc-btn .btn-choix:hover {
    background-color:  #efe8f7;
    transform: scale(1.005);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);    
}

.btn-choix:hover i {
    color: #9356DC;
}

.btn-color {
    background: linear-gradient(to left top, #9356DC,#FF79DA);
    color: #fff;
    width: 50%;
    height: 50px;
    border-radius: 25px;
    box-shadow: 2px 2px 10px rgb(0 0 0 / 50%);  
    transform: scale(1);
    transition: transform 800ms ease-out; 
}

.btn-color:hover {
    background: linear-gradient(to right top, #9356DC,#FF79DA);
    transform: scale(1.05);
    box-shadow: 2px 2px 30px rgb(0 0 0 / 50%);
}

.gradient {
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  
}





.btn-plat {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
   
    
    width: 100%;
    height: 68px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 2px 2px 10px rgb(0 0 0 / 50%);
    transform: scale(1);
    transition: transform 800ms ease-out;
    

}



.fonctionnement {
    width: 100%;
    height: 370px;
    margin-top: 30px;

}

.fonctionnement i {
    color: grey;

}

.fonc-btn {
    width: 95%;
    height: 300px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;

}

.fonc-title {
    margin-left: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.restaurants {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 1200px;
    background-color: #EAEAEA;
}

.restaurants h2 {
    padding-left: 20px;
    padding-top: 30px;    
}

.resto {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 1200px;
    padding-bottom: 50px;
}

.resto-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;

}

.resto a {
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
}

.resto-card {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width: 90%;
    height: 251px;
    border-radius: 15px;
    /* border: 2px solid rgb(226, 226, 226); */
    /* box-shadow: 2px 2px 5px rgb(0 0 0 / 50%); */
    
    
}

.des-coeurs {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.resto-card i {
    font-size: 26px;
    background-color: #fff;
    z-index: 1;
    
}

/* .resto-card:hover i {
    visibility: hidden;
} */



.resto-card:hover {
    
   
    box-shadow: 2px 2px 15px rgb(0 0 0 / 60%);
    
   
} 



.svg {
    width: 23px;
    fill: url(#my-cool-gradient) #447799;
    opacity: 80%;
    
    
 }

 .resto-card .svg {
    animation: coeur 1s ease infinite;
    margin-top: -26px;  
 }

@keyframes coeur {
    from {
        transform: scale(1);
        opacity: 40%;
    }
    to {
        transform: scale(1.05);
        opacity: 100%;
    }
}

 .fa-heart:hover {
    visibility: hidden;
 }

 /* .resto-card i:hover svg {
    height: 25px;
    visibility: visible;
    
 } */


.resto-txt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0 10px 10px ;
    
}

.resto img {
    width: 100%;
    height: 190px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    
}

.nouveau {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
   
    
}

.card-nouveau {
    width: 18vw;
    height: 6vw;
    margin: 20px 20px 0 0;
    border-radius: 3px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    
    position: absolute;
    background-color: #99E2D0;
    
    color: #008766;
}


footer {
    width: 100%;
    height: 400px;
    background-color: black;
    color: white;
}

footer ul {
    list-style: none;
}

.footer-txt {
    padding:20px  20px;
    line-height: 1.5rem;
}



footer h3 {
    font-family: Shrikhand;
    font-size: 50px;
    font-weight: 400;
    padding-left: 20px;
    padding-top: 30px;
}

.fa-utensils {
    margin-right: 10px;
}

.fa-handshake-angle{
    margin-right: 4px;
}

footer a {
    color: #fff;
}

.font-400 {
    font-weight: lighter;
    font-size: 16px;
}
/* 
.loader1 {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 25px solid black;
    border-right: 5px solid blue;
    border-bottom: 25px solid grey;
    border-left: 5px solid red;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 1s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .loader2 {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 46px solid #53adca;
    border-right: 36px solid #76bdd5;
    border-bottom: 2px solid #53adca;
    border-left: 36px solid #76bdd5;
    
    width: 80px;
    height: 80px;
    -webkit-animation: spin2 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin2 {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin2 {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  } */












/* ~.......PAGE1................ */
.img-page {
    width: 100%;
    height: 290px;
   
    
}

.img-page img {
    width: 100%;
    height: 290px;
    object-fit: cover;
}

.top-page1 {
    position: relative;
    width: 100%;
    height: auto;
    background-color:  #F7F7F7;
    border-radius: 40px 40px 0 0;
    margin-top: -35px;
    
}

.top-page1 h3 {
    padding: 20px 0 20px 0px;

}

.menu {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 30px;
}



.menu-title {
    margin-left: 20px;
}

.menu-title h5 {
    padding-bottom: 5px;
}

.hl {
    border-bottom: 3px solid #99E2D0;
    width: 50px;
}

.menu-plats {
    height: auto;
    gap: 10px;
    padding: 0 15px;
    margin-top: 10px;
}

.plat-contenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    line-height: 1.5em;
    margin-left: 20px;
}

.btn-com {
    padding: 20px 0 40px 0;
}

.circle1 {

    width: 25px;
    height: 25px;
    border-radius: 13px;
    
    background-color: #9356DC;
    color: #fff;
    margin-left: -20px;
    margin-right: 20px;

}

.menu a {
    margin: 0;
    padding: 0;
    
}


.circle3 {
    width: 35px;
    height: 35px;
    border-radius: 17px;
    background-color: #fff;
}

.vert {
    color:#99E2D0;
}


.btn-plat5 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 68px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 2px 2px 10px rgb(0 0 0 / 50%);
    transform: scale(1);
    transition: transform 800ms ease-out;
    width: 100%; 

   

}

.plat-contenu5 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.plat-txt5 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin-left:30px;
    margin-bottom: 15px;
    margin-right: 30px;
}




.test5 {
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 0%; 
    height: 68px;   
    background-color: #99E2D0; 
    border-radius: 0px 16px 15px 0;
  
}


.test5-rotation {
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 0%; 
    height: 68px;   
    background-color: #99E2D0; 
    border-radius: 0px 16px 15px 0;
  
}

.rotation {
    visibility: hidden;
    margin-left: -28px;
    font-size: 24px;
   
    /* transition: rotate 2s; */
    /* transform: rotate(290deg); */
    
}

.btn-plat5:hover .test5-rotation {
    visibility: visible;
    animation: 0.2s 1 forwards test5;
    transition: ease-out;
    
}

.btn-plat5:hover .rotation {
    visibility: visible;
    animation: 0.5s 1 forwards rotation;   
}



@keyframes rotation {
    from {
        transform: rotate(290deg);
    }
    to {
        transform: rotate(360deg);
}
}


.btn-plat5:hover .test5 {
    visibility: visible;
    animation: 0.2s 1 forwards test5;
    transition: ease-out;
}


@keyframes test5 {
    from {
        margin-left: 0%;
        
        width: 0%;
    }
    to {
        margin-left: 0%;
        width: 20%;
    }
}

.move {
    animation: 5s 1 forwards movement;
    transition: ease-in-out;
    transition-delay: 1s ;
}

@keyframes movement {
    0% {
       transform: translateY(80px);
    }
 
    100%  {
       transform:translateY(0);
    }
}

/* .rotation {
    transform: rotate(45deg)
}  */


@keyframes test5 {
    from {
        margin-left: 0%;
        
        width: 0%;
    }
    to {
        margin-left: 0%;
        width: 20%;
    }
}

/* .loader3 {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 46px solid #9356DC;
    border-right: 36px solid #b666d2;
    border-bottom: 0px solid white;
    border-left: 36px solid #FF79DA;
    opacity: 40%;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin3 1s linear infinite;
  }
  
  @-webkit-keyframes spin3 {
    0% {-webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin3 {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .loader4 {
    border: 16px solid #f3f3f3;
    border-radius:  50%;
    border-top: 46px solid #9356DC;
    border-right: 40px solid #b666d2;
    border-bottom: 0px solid white;
    border-left: 40px solid #FF79DA;
    opacity: 40%;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin4 2s linear infinite;
  }
  
  @-webkit-keyframes spin4 {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(330deg); }
  }
  
  @keyframes spin4 {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
 */


/* .....DESKTOP ..................................... */
@media (min-width: 900px) {
    body {
        justify-content: center;
    }
    .fonc-btn {
        width: 100%;
        height: auto;
        margin: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .btn-choix {
        width: 28%;
        height: 60px;
    }

    .fonc-title {
        align-items: start;
    }

    .fonctionnement {
        width: 80%;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 30px;
       
    }

    .restaurants {
      
        width: 100%;
        height: auto;
        background-color: #EAEAEA;
    }

    .restaurants h2 {
        margin-left: 100px;
        padding-bottom: 30px;

    }

    .resto {
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 30px;
        height: auto;
       
    }

    .resto-card {
        width: 35%;
        height: auto; 
    }

    .btn-color {
        width: 20%;
    }

    .card-nouveau {
        width: 6vw;
        height: 2vw;
        margin: 20px 20px 0 0;
    }

    .footer {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        height: 115px;
    }

    .footer-txt {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }

    .footer h3 {
        padding-top: 0;
        padding-right: 100px;
        padding-left: 60px;
        font-size: 1em;
    }

    .top-page1 {
        width: 80%;
        height: auto;
        background-color: rgb(241, 241, 241);
        border-radius: 30px 30px 0 0;
        margin-top: -35px;
        
    }

    .page-title {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30px;
        align-items: center;
        align-content: center;
        
        padding: 0 20px;
        margin: 30px 0;
        
    }

    .img-page img {
        width: 100%;
        height: 320px;
        object-fit: cover;
    }
    
    .menu {
        width: 80%;
        
    }

 

    .test i {
        margin-left: -28px;
        font-size: 24px;
    }

    .circle3 {
        width: 35px;
        height: 35px;
        border-radius: 17px;
        background-color: #fff;
    }


    .btn-plat5 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 68px;
        border-radius: 20px;
        background-color: #fff;
        box-shadow: 2px 2px 10px rgb(0 0 0 / 50%);
        transform: scale(1);
        transition: transform 800ms ease-out;
        width: 100%; 
        
    
    }

    .plat-contenu5 {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .plat-txt5 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        margin-left:30px;
        margin-bottom: 15px;
        margin-right: 30px;
    }



    
    .test5 {
        visibility: hidden;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 0%; 
        height: 68px;   
        background-color: #99E2D0; 
        border-radius: 0px 16px 15px 0;
      
    }

    

    .test5 i {
        margin-left: -28px;
        font-size: 24px;
    }



    .btn-plat5:hover .test5 {
        visibility: visible;
        animation: 0.3s 1 forwards test5;
        transition: ease-out;
    }

 
    @keyframes test5 {
        from {
            margin-left: 0%;
            width: 0%;
        }
        to {
            margin-left: 0%;
            width: 10%;
        }
    }

    

}

